<a href="https://colab.research.google.com/github/Julien57860/DATA-4-auditors_IAEMetz/blob/main/IAE_METZ_TP1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Introduction à Python

print('Hello World!')

Hello World!

# Simple Example

Nous allons voir les bases de Python ensemble

In [ ]:
# On va définir des varaibles
prenom='Matt' # est du texte c'est donc un STRING
salaire_de_stage=1711 # C'est un entier naturelle
salaire_net=1680.95 #FLOAT= chiffre à Virgule
height='1.80'

In [ ]:
print(f"Je m'appelle {prenom} et je gagnerai {salaire_de_stage} Euros")

Je m'appelle Matt et je gagnerai 1711 Euros

In [ ]:
# ARITHMETIC +++
debit1 = 157000
debit2=1711
credit = 157000

In [ ]:
debit1+debit2

158711

In [ ]:
debit1,debit2

(157000, 1711)

In [ ]:
a= debit1
b=debit2

In [ ]:
debit1,debit2
print(f"SUM: {debit1+debit2}, DELTA: {a-b}, Produit: {a*b}, Division: {a/b}")

SUM: 158711, DELTA: 155289, Produit: 268627000, Division: 91.75920514319111

In [ ]:
print(f"Divsion Integer : {a//b}")

Divsion Integer : 91

In [ ]:
# LIST ( et LISTE en Français)
Banks=["BDL","BGL","BNP","BIL"]
Banks[2]

'BNP'

In [ ]:
#DICTIONNAIRE
# Non- ordonné et PAIRES-CLE (Indexé de manière orthornmeé : 1,2,3 etc..)
Valorisation= {"nom": "Nike","actif":37, "passif": 34}

In [ ]:
print(f" La valorisation de {Valorisation['nom']} est d'un actif valorisé à {Valorisation['actif']} $ et d'un passif valorisé à {Valorisation['passif']} $ ")

 La valorisation de Nike est d'un actif valorisé à 37 $ et d'un passif valorisé à 34 $

In [ ]:
#Indexé en clé-Valeur quand c'est une clé obligé de nommer le dictionniare et la collone que je veux
print(f"La valorisation de {Valorisation['nom']}")

La valorisation de Nike

# Exemple pour les auditeurs
## Etude de cas pour l'audit

In [ ]:
# Cellule des variables
revenus = 100000
depenses=75000
taux_imposition_francais= 0.25
taux_imposition_luxembourgeois=0.17
taux_imposition_irelande=0.125

In [ ]:
# Cellule des calculs
benefice = revenus-depenses
impot_en_france = benefice* taux_imposition_francais
impot_au_lux= taux_imposition_luxembourgeois*benefice
impot_en_ire= taux_imposition_irelande*benefice
benefice_net_fr=benefice-impot_en_france

In [ ]:
print(benefice)

25000

In [ ]:
# Cellule des check/Prints
#[].[0] list
#{dictonnaire['nom de varaible']}
print("Impot à payer en France",taux_imposition_francais * benefice,"$")

Impot à payer en France 6750.0 $

In [ ]:
# Cellule des check/Prints
print("Impot à payer en France",impot_en_france ,"$")

Impot à payer en France 6750.0 $

In [ ]:
# comparaison entre ireland, luxembourg
print("On compare au Luxembourg",taux_imposition_luxembourgeois*benefice ,"euros", "vs en ireland", taux_imposition_irelande*benefice,"euros")

On compare au Luxembourg 4250.0 euros vs en ireland 3125.0 euros

# Structure de Contrôle

In [ ]:
# CONDITIONS (if,elif,else)
if benefice_net_fr>0:
  print("l'entreprise réalise un benefice net. Un bénéf de", benefice_net_fr,"euros")
elif benefice_net_fr==0:
  print("L'entreprise est à l'équilibre.")
else:
  print("L'entreprise réalise une perte nette.")

l'entreprise réalise un benefice net. Un bénéf de 18750.0 euros

Les packages se diffèrencient en 2 grandes catégories

1) Ceux "outils" : contenant des fonctions

2) Ceux "de données" : contenant des données/valeurs

In [2]:
# Le package d'outils le plus répandu en Python x FINANCE est ... YAHOO! Finance
import yfinance as yf

In [3]:
# BLOCK : IMPORTATION DES PACKAGES
import yfinance as yf
import pandas as pd
import matplotlib.pyplot as plt
# dans les packages "outils" vous pouvez SOUS SELECTIONNER LE CHAPITRE

In [4]:
# BLOCK : VARIABLES
# pour une comparaison d'indices selon les pays
france_symbol = 'EWQ' #iShares MSCI France ETF
ireland_symbol = 'EWK' #iShares MSCI Ireland ETF
luxembourg_symbol = 'SPY' #S&P 500 son ETF

In [5]:
# BLOCK : TIME FRAME
start_date = '2010-01-01'
end_date = '2025-01-01'

In [6]:
# Téléchargement des données historiques de YFINANCE pour chaque pays
france_data = yf.download(france_symbol,start=start_date,end=end_date)
ireland_data = yf.download(ireland_symbol,start=start_date,end=end_date)
luxembourg_data = yf.download(luxembourg_symbol,start=start_date,end=end_date)

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [7]:
print(france_data)

Price           Close       High        Low       Open  Volume
Ticker            EWQ        EWQ        EWQ        EWQ     EWQ
Date
2010-01-04  17.787548  17.827415  17.641366  17.641366   97400
2010-01-05  17.741034  17.867280  17.674587  17.847347  164100
2010-01-06  17.834063  17.840707  17.687882  17.734394  117300
2010-01-07  17.754326  17.787550  17.634724  17.648013   87500
2010-01-08  18.000175  18.006820  17.760970  17.787549  155400
...               ...        ...        ...        ...     ...
2024-12-24  35.970001  36.009998  35.619999  35.730000  187100
2024-12-26  36.119999  36.200001  35.939999  35.959999  216600
2024-12-27  36.060001  36.139999  35.900002  35.959999  758900
2024-12-30  35.810001  35.910000  35.650002  35.900002  361400
2024-12-31  35.880001  36.169998  35.799999  36.169998  401800

[3774 rows x 5 columns]